{% extends 'memorandum/base.html' %}
{% load static %}
<body>
    {% block content %}
    <div class="col-md-12 tm-contact-right">
        <div style="margin-left: 430px;">
        <address class="mb-4 tm-color-gray">
           Para cualquier información comunicarse con el soporte técnico a traves de los siguientes contactos
        </address>
        <span class="d-block">
            Tel:
            <a href="tel:060-070-0980" class="tm-color-gray">060-070-0980</a>
        </span>
        <span class="mb-4 d-block">
            Email:
            <a href="mailto:info@company.com" class="tm-color-gray">info@company.com</a>
        </span>
    </div>

    </div>
    {% endblock %}   
</body>
</html>